crewai
langchain
langchain-community
langchain-openai
openai
python-decouple
duckduckgo-search
markdown
selenium
beautifulsoup4
requests
lxml[html_clean]
pandas
numpy
yfinance
tweepy
feedparser
textblob
vaderSentiment
python-dotenv
aiohttp